@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 138 17% 95%; /* #F0F4F1 */
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 140 29% 34%; /* #3F704F */
    --primary-foreground: 30 100% 98%;
    --secondary: 138 10% 85%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 138 10% 85%;
    --muted-foreground: 223 6.9% 39.4%;
    --accent: 30 42% 64%; /* #D4A373 */
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 138 10% 80%;
    --input: 138 10% 88%;
    --ring: 140 29% 34%;
    --chart-1: 140 29% 34%;
    --chart-2: 30 42% 64%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 0 0% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 0 0% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 140 29% 40%;
    --primary-foreground: 30 100% 98%;
    --secondary: 220 13% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 13% 18%;
    --muted-foreground: 220 9% 55%;
    --accent: 30 42% 64%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 18%;
    --input: 220 13% 18%;
    --ring: 140 29% 40%;
    --chart-1: 140 29% 40%;
    --chart-2: 30 42% 64%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
